.list-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.list-header>div {
  margin-right: 30px;
}

input {
  border-radius: 5px;
  width: 300px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero {
  width: 20%;
  margin-bottom: 20px;
}

.load-data>button {
  width: 300px;
}
